body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333; /* Warna latar belakang abu-abu gelap */
    overflow: hidden; /* Sembunyikan scrollbar */
}

#gameCanvas {
    /* Gaya untuk canvas game */
    border: 3px solid #000;
    background-color: #70c5ce; /* Warna langit biru muda */
    display: block; /* Agar tidak ada margin atau spasi tambahan */
}